* {
  font-family: 'Poppins';
  font-size: 18px;
}
.navbar-nav {
  margin-left: 150px;
}

.btn-nav {
  background-image: linear-gradient(to right, #5672e5, #20368f);
  padding: 15px 30px 15px;
  border-radius: 18px;
}

.btn {
  padding: 15px 20px 15px;
  border-radius: 18px;
  margin-right: 20px;
}

.btn-primary {
  background-color: #20368f;
}

.konten {
  background-image: url(img/sapiens__3_.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 600px;
  margin-top: 50px;
}

.member {
  background-color: #f9f9f9;
}

.profil-1 {
  padding: 20px;
}

.col {
  margin-bottom: 30px;
}

.card-subtitle {
  font-size: 12px;
}

.container-member {
  display: flex;
  padding: 0px 100px 180px;
  margin-bottom: 30px;
}

.container-member div {
  width: 218px;
  height: 237px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 18px;
  padding: 40px 0px 40px;
  font-size: 14px;
}

.container-ourworks {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.container-fitur {
  margin-bottom: 20px;
  display: flex;
}

.container-fitur-1 div {
  padding: 18px;
}
